*{
    outline:1px dashed red;
}
body{
    background-color:rgb(56, 56, 189);

}    
.wrapper
{
    width:970px;
    margin: 0px auto;
}

header{
    display: inline-block;
    height:50px;
    width: 800px;
    margin:0px;
}
   